body,html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .image {
    background-image: url("background.jpg");
    /*filter: blur(2px);
    -webkit-filter: blur(2px);*/
    height: 100%; 
    /*Per posizionare l'immagine*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); /*opacità*/
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

.icon {
    padding-right: 20px;
    color: #f1f1f1;
    font-size: 30px;
}

/* Schermi grandi o ad alta risoluzione */
@media all and (max-width: 1690px) { 
  .wip, .timer {
    font-size: 34px;
  }
}

/* Schermi Desktop o Portatili */
@media all and (min-width: 1280px) and (max-width: 1689px) { 
  .wip, .timer {
    font-size: 30px;
  }
}

/* Tablet in modalità orizzontale */
@media all and (min-width: 737px) and (max-width: 1279px) { 
  .wip, .timer {
    font-size: 26px;
  }
}

/* Tablet in modalità verticale */
@media all and (min-width: 481px) and (max-width: 736px) {
  .wip, .timer {
    font-size: 22px;
  }
}

/* Smartphone o piccoli Tablet */
@media all and (max-width: 480px) {
  .wip, .timer {
    font-size: 20px;
  }
} 


