* {
  box-sizing: border-box;
}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
  /*background-image: url('myprofiletest.jpg');
  background-repeat: no-repeat;*/
  margin: 0px;
}

/*@media only screen and (max-width: 500px) {
  body {
    background-image: url('mptest.jpg')
  }
}*/

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #d9d9d9;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/*cerchi della timeline*/
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #474e5d;
  border: 4px solid #d9d9d9;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

/*frecce per appendere i container alla timeline*/
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #d9d9d9;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #d9d9d9 transparent transparent;
}

/*per sistemare la posizione dei cerchi*/
.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: #d9d9d9;
  position: relative;
  border-radius: 6px;
  font-family: Georgia, serif;
}

@media only screen and (max-width: 736px) {
  .content {
    padding: 15px;
  }
}

@media only screen and (max-width: 736px) {
  .resizeh2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 736px) {
  .resizeh4 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 736px) {
  .resizep {
    font-size: 13px;
  }
}

/* Media queries - Responsive timeline su schermi di larghezza inferiore a 736px */
@media screen and (max-width: 736px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/*Per puntare le frecce a sinistra*/
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #d9d9d9 transparent transparent;
  }

/*Per posizionare i cerchi*/
  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

.header {
  position: relative;
  text-align: center;
  color: black;
  font-family: Georgia, serif;
  height: 540px;
  background-image: url('myprofiletest.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 500px) {
  .header {
    background-image: url('mptest.webp');
  }
}

@media only screen and (min-width: 1500px) {
  .header {
    height: 600px;
    background-image: url('cover.webp')
  }
}

@media only screen and (min-width: 2100px) {
  .header {
    height: 800px;
    background-image: url('fino2600px.webp')
  }
}

.resize {
  margin: 0px;
  padding-left: 13%;
  padding-top: 5%;
  padding-bottom: 3%;
}

/* Schermi grandi o ad alta risoluzione */
@media all and (min-width: 1690px) { 
  .resize {
    font-size: 30px;
    padding-top: 2%;
    padding-bottom: 0.5%;
  }
}

/* Schermi Desktop o Portatili */
@media all and (min-width: 1280px) and (max-width: 1689px) { 
  .resize {
    font-size: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

/* Tablet in modalità orizzontale */
@media all and (min-width: 737px) and (max-width: 1279px) {
  .resize {
    font-size: 24px;
    padding-top: 2%;
    padding-bottom: 2%;
  }
} 

/* Tablet in modalità verticale */
@media all and (min-width: 481px) and (max-width: 736px) { 
  .resize {
    font-size: 18px;
  }
}

/* Smartphone o piccoli Tablet */
@media all and (max-width: 480px) { 
  .resize {
    font-size: 18px;
  }
} 

/*@media only screen and (max-width: 600px) {
  .resize {
    font-size: 22px;
    /*margin-top: 30px;
    text-align: left;
    margin-left: 70px;
  }
}*/

/*.centered {
  position: absolute;
  width: max-content;
  top: 10%;
  left: 30%;
  transform: translate(-50%, -80%);
  font-family: Georgia, serif;
}*/

.top-right {
  float: right;
  padding: 15px;
}

.mySidenav a {
  position: absolute; 
  left: -122px; /* per posizionare i segnalibri fuori dallo schermo */
  transition: 0.3s; /* per gestire la transizione al passaggio del mouse */
  padding: 15px; 
  width: 200px; 
  text-decoration: none; 
  font-size: 20px; 
  color: white; 
  border-radius: 0 5px 5px 0; 
}

.mySidenav a:hover {
  left: 0; /*Transizione al passaggio del mouse*/
}

@media only screen and (max-width: 736px) {
  .mySidenav a {
    font-size: 0%;
    padding: 20px; 
    left: 0;
    width: 50px;
    box-shadow: 0 8px 6px -4px #777;
    /*0 8px 6px -6px black;*/
    /*inset 0 0 10px #000000;*/
    /*3px 0px 0px 6px #b3b3b3;*/
  }
}

/*Posizionare i segnalibri*/
#experience {
  top: 20px;
  background-color:#474e5d;
  font-family: Georgia, serif;
}

#training {
  top: 80px;
  background-color:#474e5d;
  font-family: Georgia, serif;
}

#projects {
  top: 140px;
  background-color:#474e5d;
  font-family: Georgia, serif;
}

#contact {
  top: 200px;
  background-color:#474e5d;
  font-family: Georgia, serif;
}

.icon {
  font-size:30px;
  cursor:pointer;
  text-decoration:none;
  color: #474e5d;
  margin: 0;
}

/* Schermi grandi o ad alta risoluzione */
@media all and (min-width: 1690px) { 
  .icon {
    font-size: 34px;
  }
}

/* Schermi Desktop o Portatili */
@media all and (min-width: 1280px) and (max-width: 1689px) { 
  .icon {
    font-size: 30px;
  }
}

/* Tablet in modalità orizzontale */
@media all and (min-width: 737px) and (max-width: 1279px) {
  .icon {
    font-size: 28px;
  }
} 

/* Tablet in modalità verticale */
@media all and (min-width: 481px) and (max-width: 736px) { 
  .icon {
    font-size: 26px;
  }
}

/* Smartphone o piccoli Tablet */
@media all and (max-width: 480px) { 
  .icon {
    font-size: 24px;
  }
} 

.headtit {
  margin-bottom: 5px;
}

.marpar {
  margin: 0px;
}

/*@media only screen and (max-width: 1279px) {
  .marpar {
    font-size: 13px;
    text-align: left;
    margin-left: 20%;
  }
}*/

.marbot {
  margin-bottom:0px;
}

/*@media only screen and (max-width: 1279px) {
  .marbot {
    font-size: 13px;
    text-align: left;
    margin-left: 20%;
  }
}*/

.martop {
  margin-top:0px;
}

/*@media only screen and (max-width: 1279px) {
  .martop {
    font-size: 13px;
    text-align: left;
    margin-left: 20%;
    
  }
}*/

/* Schermi grandi o ad alta risoluzione */
@media all and (min-width: 1690px) { 
  .marpar, .marbot, .martop {
    font-size: 18px;
    text-align: left;
    margin-left: 15%;
  }
}

/* Schermi Desktop o Portatili */
@media all and (min-width: 1280px) and (max-width: 1689px) { 
  .marpar, .marbot, .martop {
    font-size: 16px;
    text-align: left;
    margin-left: 15%;
  }
}

/* Tablet in modalità orizzontale */
@media all and (min-width: 737px) and (max-width: 1279px) {
  .marpar, .marbot, .martop {
    font-size: 15px;
    text-align: left;
    margin-left: 15%;
  }
} 

/* Tablet in modalità verticale */
@media all and (min-width: 481px) and (max-width: 736px) { 
  .marpar, .marbot, .martop {
    font-size: 14px;
    text-align: left;
    margin-left: 15%;
  }
}

/* Smartphone o piccoli Tablet */
@media all and (max-width: 480px) { 
  .marpar, .marbot, .martop {
    font-size: 13px;
    text-align: left;
    margin-left: 20%;
  }
} 

.lastrow {
  font-size:large;
}

@media only screen and (max-width: 1279px) {
  .lastrow {
    font-size: 14px;
    text-align: left;
    margin-left: 20%;
    
  }
}


.tmarpar {
  margin: 0px;
}

@media only screen and (max-width: 736px) {
  .tmarpar {
    font-size: 13px;
    text-align: left;
  }
}

.tmarbot {
  margin-bottom:0px;
}

@media only screen and (max-width: 736px) {
  .tmarbot {
    font-size: 13px;
    text-align: left;
  }
}

.tmartop {
  margin-top:0px;
}

@media only screen and (max-width: 736px) {
  .tmartop {
    font-size: 13px;
    text-align: left;
  }
}

.textarea {
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 2px;
  text-align: center;
  background: #d9d9d9;/*#333333; #777;*/
  color: black;
  font-family: Georgia,serif;
}

.mail {
  margin-bottom: 2px;
  margin-top: 0px;
  padding: 2px;
  text-align: center;
  background: #d9d9d9;
  color: black;
  font-family: serif;
  font-size: 14px;
  font-weight: lighter;
}

.bookmark1 {
  color:white;
  font-family:Georgia,serif;
  font-style:italic;
  margin-right: 2%;
  margin-left: 2%;
}

@media only screen and (max-width: 736px) {
  .bookmark1 {
    text-align: right;
    font-size: 22px;
  }
}

.bookmark2 {
  color:white;
  font-family:Georgia,serif;
  font-style:italic;
  text-align: right;
  margin-right: 2%;
}

@media only screen and (max-width: 736px) {
  .bookmark2 {
    text-align: right;
    font-size: 22px;
  }
}